$primary: #60a4fb;
$secondary: #fbbf24;
$danger: #ff0000;
$light: #ffffff;
$dark: #333333;
$gray: #cccccc;

$breakpoint-mobile: 320px;
$breakpoint-mobile-landscape: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
