$primary: #60a4fb;
$dark: #333333;
$gray: #cccccc;
$light: #ffffff;

$breakpoint-mobile: 320px;
$breakpoint-mobile-landscape: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
