$primary: #f75283;
$dark: #333;
$gray: #ccc;
$light: #fff;

$breakpoint-mobile: 320px;
$breakpoint-mobile-landscape: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
